<table>
    <thead>
        <tr>
            <th>
                NAME
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= MACOO %>
            </td>
        </tr>
    </tbody>
</table>