<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TACOS STOPPP</title>
</head>
<body>
    
    <form action="http://localhost:9090/tacos" method="post">
        <label for="taco">TACOS NAME</label><input type="text" name ="name" id="name">
        <label for="Qty">QUANTITY</label><input type="number" name="Qty" id="Qty">
        <button>SEND REQUEST</button>
    </form>
</body>
</html>